@charset "utf-8";
body {
    width: 100%;
    text-align: center;
}
canvas {
    background: #eee;
    display:block;
    margin: 30px auto 10px auto;
}


h1 {
    text-align: center;
    background-color: rgb(247, 189, 229);
    width: 500px;
    margin: 0 auto;
}
div {
    text-align: center;
}
p {
    margin: 5px auto;
}
